@helper UserStatusLabel(bool isDeleted)
{

if (!isDeleted)
{
        <label class="label label-success">Active</label>
}
else
{
        <label class="label label-default">Inactive</label>
}

}