@using VNS.Web.Models.Visits
@model VisitsViewModel

@if (Model.Visits.Count() == 0)
{
    <p class="text-center">No visits to show</p>
}

<div class="row text-center">
    @Html.Partial("_PaginationPartial", Model.PageCount)
</div>

<div class="row vns-valign">
    @foreach (var visit in Model.Visits)
    {
        @Html.Partial("_VisitCardPartial", visit)
    }
</div>

<div class="row text-center">
    @Html.Partial("_PaginationPartial", Model.PageCount)
</div>