@using VNS.Web.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/manage">
                    <i class="fa fa-user fa-2x fa-fw hidden-md hidden-lg" title="Manage" data-toggle="tooltip" data-placement="bottom"></i>
                    <span class="hidden-sm">Account</span>
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link">
                    <i class="fa fa-sign-out fa-2x fa-fw hidden-md hidden-lg" title="Log off" data-toggle="tooltip" data-placement="bottom"></i>
                    <span class="hidden-sm">Log off</span>
                </button>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class='@Html.IsActive("Account", "Register")'>
            <a href="/account/register" id="registerLink">
                <i class="fa fa-user-plus fa-2x fa-fw hidden-md hidden-lg" title="Register" data-toggle="tooltip" data-placement="bottom"></i>
                <span class="hidden-sm">Register</span>
            </a>
        </li>
        <li class='@Html.IsActive("Account", "Login")'>
            <a href="/account/login" id="loginLink">
                <i class="fa fa-sign-in fa-2x fa-fw hidden-md hidden-lg" title="Log in" data-toggle="tooltip" data-placement="bottom"></i>
                <span class="hidden-sm">Log in</span>
            </a>
        </li>
    </ul>
}
