@* To use in view, pass only the pageCount from parent, not the whole model *@

@{
    // variable declared for clarity
    var pageCount = Model;
}

<ul class="pagination pagination-sm">
    @{
        string currentPage = Context.Request.QueryString["page"];
        currentPage = currentPage != null ? currentPage : "1";
        bool firstPage = currentPage == "1" ? true : false;
        bool lastPage = currentPage == pageCount.ToString() ? true : false;
        string isPageActive = "";
    }
    @if (!firstPage)
    {
        <li>
            @Ajax.ActionLink("«", "List", "Visits",
                new { page = 1 },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "vns-cards-content" },
                null)
        </li>
    }

    @for (var i = 1; i <= pageCount; i++)
    {
        isPageActive = currentPage == i.ToString() ? "active" : "";

        <li class="@isPageActive">
            @Ajax.ActionLink(i.ToString(), "List", "Visits",
                new { page = i },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "vns-cards-content" },
                null)
        </li>
    }
    @if (!lastPage)
    {
        <li>
            @Ajax.ActionLink("»", "List", "Visits",
                new { page = pageCount },
                new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "vns-cards-content" },
                null)
        </li>
    }
</ul>
