@{
    ViewBag.Title = "Admin";
    ViewBag.Message = "Page";
}

<header class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewBag.Title.</h2>
        <p>@ViewBag.Message</p>
    </div>
</header>

<section class="row">
    <div class="col-sm-3 col-xs-5">
        <img src="~/Content/images/duck.svg" alt="duck" class="page-image" />
    </div>
    <div class="col-sm-9 col-xs-12">
        @Html.ActionLink("Add User", "Add", "Users", null, new { @class = "btn btn-info btn-sm" })
    </div>
</section>

<hr />

<section id="vns-users-table" class="row">

    @Html.Action("List", "Users")

</section>
