@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewBag.Title.</h2>
        <p>@ViewBag.Message</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-5">
        <img src="~/Content/images/duck.svg" class="page-image" alt="duck"/>
    </div>
    <div class="col-sm-9 col-xs-12">
        <h3>Data management tool</h3>
        <p>This is a project part of the ASP.NET MVC course at Telerik Academy, October 2017. </p>
        <p>View source on <a href="https://github.com/nhristova/VisitngNursesSystem">GitHub</a></p>
        <p>The tool is used for monitoring and organizing visiting nurses work for families with young children.</p>
        <p>The staff of the visiting nurses social service (Users) keep track of the visits they make to families during which they provide advice and assistance to family members for the care and welbeing of the children. Each visit has one an assigned staff member, description and other details..</p>
    </div>
</div>
