@{
    ViewBag.Title = "Help";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewBag.Title.</h2>
        <p>@ViewBag.Message</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-5">
        <img src="~/Content/images/duck.svg" alt="duck" class="page-image"/>
    </div>
    <div class="col-sm-9 col-xs-12">
        <h3>Instructions</h3>
        <p>How to use the system</p>
    </div>
</div>