@{
    ViewBag.Title = "Instructions";
    ViewBag.Message = "How to use the system";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewBag.Title.</h2>
        <p>@ViewBag.Message</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-5">
        <img src="~/Content/images/girl-17.svg" alt="duck" class="page-image"/>
    </div>
    <div class="col-sm-9 col-xs-12">
        <h4>Regular users</h4>
        <ul>
            <li>Register</li>
            <li>Add visits from the Visits section. Be detailed in the description</li>
            <li>Track progress from the vists list</li>
        </ul>

        <h4>Administrators</h4>
        <ul>
            <li>Register</li>
            <li>Be approved as adminsitrator by another adminsitrator</li>
            <li>Add visits from the Visits section</li>
            <li>Edit users from the Administration section</li>
        </ul>

    </div>
</div>