@using VNS.Web.Models.Home
@using Microsoft.AspNet.Identity
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
    string visitor = "guest";
    if(User.Identity.GetUserName() != "")
    {
        visitor = User.Identity.GetUserName();
    }
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Welcome to the Visiting Nurses System</h2>
        <p>This page blablablal blalbla bal very nice.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-5">
        <img src="~/Content/images/parents.svg" alt="parents" class="page-image"/>
    </div>
    <div class="col-sm-5 col-xs-12">
        <h2>Stats</h2>
        <p>Hello, @visitor</p>
        <p>In __ period, all __ nurses have visited __ families with __ children a total of __ times, including __ pregnant mothers.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h2>Calendar/period picker</h2>
        <p>Please, select a period.</p>
    </div>
</div>
